<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies list</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">

          <h2>{{ movie.title}}</h2>
          <div>Created by: {{ movie.createdBy }}</div>
          <div v-if="movie.starring.length === 0">Starring: sorry, no data</div>
          <ul v-else>Starring:
            <li v-for="actor in movie.starring">

              <span @click="favor(actor)"> ❤️ {{ actor }}: {{ lettersCount(actor) }}</span>
            </li>
          </ul>
          <label for="newActor">Add New </label>
          <input v-model="newActor" type="text">
          <button @click="addActor()">Add</button>
          <div>Seasons: {{ movie.seasons }}</div>
          <div>Release dates: {{ movie.dates }}</div>
        <ul>My favorites:
          <li v-for="actor in favorList">
            {{ actor }}
          </li>
        </ul>
        <p> {{ characterCoolness }}</p>

    </div>
  </body>
  <script>
    const {createApp} = Vue
    const app = createApp({
      data() {
        return {
          movie:
            {
              title: "Friends",
              createdBy: "David Crane, Marta Kauffman",
              starring: ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"],
              seasons: 10,
              dates: "September 22, 1994 – May 6, 2004"
            },
        favorList: [],
        newActor: ''
        }
      },
      methods: {
        favor(actor) {
          if (this.favorList.includes(actor)) {
            this.favorList = this.favorList.filter(fav => fav !== actor)
          } else {
            this.favorList.push(actor);
          }
        },
        addActor() {
          this.movie.starring.push(this.newActor)
          this.newActor = ''
        },
        lettersCount(name) {
          return name.length
        }
      },
      computed: {
        characterCoolness() {
          return this.movie.starring.length > 8 ? "Such a good cast" : "Not enough to evaluate!"
        }
      }
    })
    app.mount('#app');
  </script>
</html>
